In [5]:
import csv
import re

input_file = "Tweets_noisy.csv"
output_file = "Tweets_cleaned.csv"

with open(input_file, "r", encoding="utf-8") as infile, open(output_file, "w", encoding="utf-8", newline="") as outfile:
    lines = infile.readlines()
    
    cleaned_lines = []
    for line in lines:
        line = line.strip()

        # Usuń ";;;;;;" na końcu linii wraz z nową linią
        line = re.sub(r'";{6,}[\r\n]*$', '', line)

        # Usuń niepotrzebne cudzysłowy na początku linii
        line = re.sub(r'^"', '', line)

        # Usuń nadmiarowe średniki i cudzysłowy na końcu linii
        line = re.sub(r'[";]+$', '', line)
        
        # Napraw cudzysłowy w treści
        line = re.sub(r'""', '"', line) 
        line = re.sub(r'";', ';', line)
        line = re.sub(r';"', ';', line)  
      
    
        # Napraw błędne encje HTML
        line = re.sub(r'&amp";?', '&amp;', line)
        line = re.sub(r'&amp;"', '&amp;', line)
        line = re.sub(r'&gt"', '&gt', line)
        # Popraw literówki
        line = re.sub(r'\bhte\b', 'the', line)  # "hte" na "the"
        line = re.sub(r'\banohter\b', 'another', line)  # "anohter" na "another"
        line = re.sub(r'\bhtey\b', 'they', line)  # "htey" na "they"
        line = re.sub(r'null', 'Thank', line) # null na Thank
        line = re.sub(r'@USAirways I been sitting on this plane for 40 minutes', '"@USAirways I been sitting on this plane for 40 minutes', line) # null na Thank  
        line = re.sub(r'@united frankly worse customer service ever', '"@united frankly worse customer service ever', line) # null na Thank     
        line = re.sub(r'@SouthwestAir How to find out if my parents luggage', '"@SouthwestAir How to find out if my parents luggage', line) # null na Thank 
        line = re.sub(r'@united Beyond frustrated', '"@united Beyond frustrated', line) # null na Thank 
        line = re.sub(r'(?<=,)(\[)', r'"[', line)
        line = re.sub(r'(o])', r']"', line)
        line = re.sub(r'@united Can someone assist me with my DM', '"@united Can someone assist me with my DM', line) # null na Thank 
        cleaned_lines.append(line)
    # Zapisz oczyszczone linie do nowego pliku
    outfile.write("\n".join(cleaned_lines) + "\n")

print(f"Plik został oczyszczony i zapisany jako {output_file}")

Plik został oczyszczony i zapisany jako Tweets_cleaned.csv

In [6]:
import pandas as pd
file_path = r"C:\Workshop\Tweets_cleaned.csv"
# Wczytanie danych do DataFrame
df = pd.read_csv(file_path, delimiter=',' ,on_bad_lines='skip')
df.head(1000)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,569967925416886273,negative,0.6703,Can't Tell,0.3400,United,NaN,simonroesner,NaN,0,@united i think he actually did not like your ...,"[51.72050559, 8.72711201]",2015-02-23 13:11:57 -0800,NaN,Ahtens
996,569967850670018560,negative,1.0000,Flight Attendant Complaints,0.3469,United,NaN,cristobalwong,NaN,1,@united Apparently they are asking 20 people t...,NaN,2015-02-23 13:11:39 -0800,San Francisco Bay Area,NaN
997,569967848078090240,negative,1.0000,Can't Tell,0.3845,United,NaN,Jim_Rehbein,NaN,0,@united It's a shame choosing #United may be t...,NaN,2015-02-23 13:11:39 -0800,"Ottawa, Ontario",Eastern Time (US & Canada)
998,569967841727942657,neutral,1.0000,NaN,NaN,United,NaN,DavidAlfieWard,NaN,0,"@united hi guys, do you have a general enquire...",NaN,2015-02-23 13:11:37 -0800,London UK & USA,NaN
999,569967632868188160,negative,1.0000,Customer Service Issue,0.6675,United,NaN,hteJessicaKill,NaN,0,@united Just checking in again - what is the s...,"[0.0, 0.0]",2015-02-23 13:10:47 -0800,Vancouver/Beverly Hills,Pacific Time (US & Canada)

In [7]:
print(df.isnull().sum())  # Liczba braków w każdej kolumnie

tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5454
negativereason_confidence        4111
airline                             0
airline_sentiment_gold          14565
name                                0
negativereason_gold             14573
retweet_count                       0
text                                0
tweet_coord                     13589
tweet_created                       0
tweet_location                   4725
user_timezone                    4800
dtype: int64

In [4]:
df.info()  # Sprawdza typy danych i ilość brakujących wartości

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14605 entries, 0 to 14604
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14605 non-null  int64
 1   airline_sentiment             14605 non-null  object
 2   airline_sentiment_confidence  14605 non-null  float64
 3   negativereason                9151 non-null   object
 4   negativereason_confidence     10494 non-null  float64
 5   airline                       14605 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14605 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14605 non-null  int64
 10  text                          14605 non-null  object
 11  tweet_coord                   1016 non-null   object
 12  tweet_created                 14605 non-null  object
 13  tweet_location                9880 non-null   object
 14  user_timezone                 9805 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB